html,body{height:100%;width:100%;margin:0;overflow:hidden}

  #map{
    padding:0;
}
  
  #header{
    font-size: 1.1em;
    font-family: sans-serif;
    padding-left: 1em;
    padding-top:4px;
    color: white;
    background-color: green;
    font-weight: bold;
    text-align: center;
  }
  .templatePicker {
    border: none;
  }

  a{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover{
    color: red;
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 5px;
}

a.button:hover{
	color: red;
}

#search {
     display: block;
     position: absolute;
     z-index: 2;
     top: 20px;
 right: 20px;
  }

  #BasemapToggle {
position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 50;
  }

@media print {
  body * {
    visibility: hidden;
  }
  #map * {
    visibility: visible; 
  }
  #map {
    position:fixed;
    bottom:0;
    left:0;
    display:block

  }
}